<div class='mx-auto'>
  <%= link_to 'Voltar', transactions_path, class: 'btn btn-primary' %>
</div>

<% @owners.each do |owner| %>
  <br><h5> <%= owner.name %> </h5>
  <table class="table table-active table-striped table-hover table-bordered" style="text-align: center;">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Tipo</th>
          <th scope="col">Data</th>
          <th scope="col">Valor</th>
          <th scope="col">CPF</th>
          <th scope="col">Cartão</th>
          <th scope="col">Horário</th>
          <th scope="col">Proprietário</th>
          <th scope="col">Imóvel</th>
        </tr>
      </thead>
      <% owner.transactions.each do |tr| %>
      <tbody>
        <tr class="table-active align-middle ">
          <th scope="row"><%= tr.id %></th>
          <td><%= tr.kind %></td>
          <td><%= tr.date %></td>
          <td><%= tr.value %></td>
          <td><%= tr.cpf %></td>
          <td><%= tr.card %></td>
          <td><%= tr.time %></td>
          <td><%= tr.owner %></td>
          <td><%= tr.name %></td>
        </tr>
      </tbody>
    <% end %>
    <th scope="row">Saldo:&nbsp;&nbsp;&nbsp;&nbsp;R$&nbsp;<%= owner.balance.round(2) %></th>
  </table>
<% end %>